.board-row {
  display: flex;

  .board-col {
    width: 3em;
    height: 3em;
    padding-top: .5em;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    border-radius: 3px;
  }

  .board-col:not(:first-child) {
    border: 1px solid $grid;
  }

  .board-col.ship {
    background-color: $battleship;
  }

  .board-col.hit {
    background: $battleship url(../img/boom.svg) no-repeat 5px 5px;
  }

  .board-col.miss {
    background: url(../img/boom.svg) no-repeat 5px 5px;
  }
}

.board-row:first-child {
  cursor: default;

  .board-col {
    border: none;
  }
}

.c0 .board-col:nth-child(2),
.c1 .board-col:nth-child(3),
.c2 .board-col:nth-child(4),
.c3 .board-col:nth-child(5),
.c4 .board-col:nth-child(6),
.c5 .board-col:nth-child(7),
.c6 .board-col:nth-child(8),
.c7 .board-col:nth-child(9) {
  background-color: $collision-detected;
}

.s0 .board-col:nth-child(2),
.s1 .board-col:nth-child(3),
.s2 .board-col:nth-child(4),
.s3 .board-col:nth-child(5),
.s4 .board-col:nth-child(6),
.s5 .board-col:nth-child(7),
.s6 .board-col:nth-child(8),
.s7 .board-col:nth-child(9) {
  background-color: $ship-selected;
}

.t0 .board-col:nth-child(2),
.t1 .board-col:nth-child(3),
.t2 .board-col:nth-child(4),
.t3 .board-col:nth-child(5),
.t4 .board-col:nth-child(6),
.t5 .board-col:nth-child(7),
.t6 .board-col:nth-child(8),
.t7 .board-col:nth-child(9) {
  background-color: $target;
}
