.chat {
  height: 100%;
  background-color: $dark-cyan;
  padding: 1em;

  display: flex;
  flex-direction: column;

  .message-container {
    flex: 7;

    .list-group-item {
      border: 0;
    }
  }

  .form-container {
    flex: 1;
    margin-top: 1em;
  }
}
