// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//

$dark-cyan: #059ca3;
$light-grey: #dcd4cf;
$dark-slate-grey: #2c3232;
$dark-sea-green: #9ba194;
$fresh-face: #e34159;

$grid: lighten($dark-slate-grey, 7.5%);
$ship: $light-grey;
$ship-border: $grid;
$ship-selected: $dark-cyan;
$collision-detected: $fresh-face;
$battleship: $light-grey;

$primary: $dark-cyan !default;
$dark: $dark-slate-grey !default;

// Links
//
// Style anchor elements.

$link-color: $dark-slate-grey !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;
