// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

//
// Color system
//

$dark-cyan: #059ca3;
$light-grey: #dcd4cf;
$dark-slate-grey: #2c3232;
$dark-sea-green: #9ba194;

$ship: #838387;
$ship-border: #656569;
$ship-selected: $dark-cyan;
$collision-detected: #e34159;
$battleship: #cbcbd2;
$grid: #f3f3f3;

$primary: $dark-cyan !default;

// Links
//
// Style anchor elements.

$link-color: $dark-slate-grey !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;
